<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
　  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>吾来 - IM</title>
    <!--<script src="http://127.0.0.1:9898/static/js/jquery.min.js"></script>-->
    <!--<script src="http://127.0.0.1:9898/static/js/jquery.cookie.js"></script>-->
    <!--<script src="http://127.0.0.1:9898/static/js/sdk.js"></script>-->
    <script>
        var host_name = "{{ hostname }}"
        var port = "{{ port }}"
    </script>
    <script src="http://{{ hostname }}:{{ port }}/static/build/wulai.min.js"></script>

</head>
<body>

</body>
<script>
    var wulai = new WuLai({
        autoOpen: true,                 // 是否自动打开，默认false
        fullScreen: false,               // 是否全屏，默认false
        minimize: 0,                    // 最小化方式，0表示消失，1表示最小化到底部
        userId: "",                // 用户ID
        userInfo: {
            "campaign": {
               "gclid": "gcl_id_123",
               "utm_source": "source_a",
               "utm_medium": "medium_b",
               "utm_campaign": "utm_campaign_c",
               "utm_term": "term_x",
               "utm_content": "content_y"
            }
        }
    });
    wulai.setServiceName("Amy");
</script>
</html>